<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <filter>
        <filter-name>SystemFilter</filter-name>
        <filter-class>com.fly.sys.web.SystemFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SystemFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ClassLoaderServlet</servlet-name>
        <servlet-class>com.fly.sys.web.ClassLoaderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.fly.sys.web.ProjectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClassLoaderServlet</servlet-name>
        <url-pattern>*.class</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.fly.sys.web.listener.SystemContextListener</listener-class>
    </listener>

    <mime-mapping>
        <extension>jnlp</extension>
        <mime-type>application/x-java-jnlp-file</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
