body {
    background-color:#DFE8F7;
    overflow: hidden; height: 100%;
}

.queryForm {
}

.queryForm fieldset {
    border:1px #aaaaaa solid;
    /*background: none repeat scroll 0 0 rgb(238, 238, 255);*/
}

.queryForm fieldset legend {
    color: #15428B;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.editForm {

}

.editForm .actionBar {
    margin-top: 25px;
}

.gridPane {
    width: 100%;
}

.actionBar {

}

.actionBar a {
    margin-left: 20px;
}

#AddFormWin, #ModifyFormWin, .north, .center {
    background-color:#DFE8F7;
}

#AddFormWin, #ModifyFormWin {
    min-height: 200px;
}

.layout-panel-north {
    margin-top: 5px;
}
.layout-panel-north .panel-title {
    display: none;
}
.layout-panel-north .panel-header {
    background: none;
    line-height: 0;
    padding: 0;
}
.layout-panel-north .north{
    overflow: hidden;
}
.panel-tool {
    position: absolute;
    right: 20px;
    top: 25px;
}

.span_required {
    color: red;
    font-weight: 600;
    font-size: 12px;
    margin-left: 3px;
}

.equal {
    /*background-image: url("easyui/themes/icons/account.gif");*/
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 1px 4px;
    color: red;
    text-decoration: none;
}